@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.mobile-logo {
  display: none;
}

/* welcome screen section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 100px;
}

nav img {
  width: 5%;
}

nav ul a {
  margin: 0 20px;
  font-size: 20px;
  color: white !important;
  text-decoration: none;
}

nav ul a:hover {
  cursor: pointer;
}

nav ul a:last-child {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.signup-section {
  background-image: url("./images/top_background_img.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 90vh;
}

.laptop-img-container img {
  width: 100%;
  padding-top: 50px;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* height: 80vh; */
}

.signup-text-container {
  width: 40%;
}

.signup-text-container p {
  width: 80%;
  font-size: 20px;
  color: #a9a9a9;
}

.signup-text-container h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}
#mc_embed_signup form {
  text-align: left !important;
}

#mc_embed_signup .button {
  background-color: #27ad5f !important;
}

/* section dividers */
.section-divider {
  width: 40%;
  height: 2px;
  background-color: #d9d9d9;
  border: none;
}

/* features section */
.features-container {
  display: flex;
  padding: 0 50px;
  /* margin-bottom: 100px; */
}
.info-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  /* padding: 20px; */
  text-align: center;
  margin-bottom: 38px;
}

.info-content-container p {
  width: 70%;
}

.info-content-container h3 {
  margin-bottom: 0;
}

.img-container {
  height: 250px;
  width: 250px;
}

.img-1 {
  background-image: url("./images/contest_img.svg");
  background-size: cover;
}

.img-2 {
  background-image: url("./images/build_img.svg");
  background-size: cover;
}
.img-3 {
  background-image: url("./images/sell_img.svg");
  background-size: cover;
}

.img-4 {
  background-image: url("./images/fullcash_img.svg");
  background-size: cover;
}

.info-row {
  padding: 0 50px;
}

/* overview section */

.get-started {
  background-color: #1c7a43;
  position: relative;
  padding: 30px;
  margin-top: 150px;
  margin-bottom: 80px;
}

.overview-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 48px;
  align-items: center;
}

.get-started-row {
  display: flex;
  align-items: center;
}

.phone-img-container img {
  width: 60%;
}

.phone-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spiral {
  position: absolute;
  top: 0;
  right: 0;
}

.get-started-text {
  color: white;
}

.get-started-text h3 {
  font-size: 40px;
}

.get-started-text ol li {
  margin: 30px 0;
  font-size: 25px;
}

/* second-signup */
.second-signup {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#second-email {
  font-size: 30px !important;
  margin-bottom: 20px;
}

#mc_embed_signup_scroll-2 {
  text-align: center;
}

/* Footer section */
footer {
  background-color: #1c7a43;
  margin: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

/* media query for iPhone 6,7,8 view */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #home {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
  }

  .divider-1 {
    margin-top: 800px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 77vh;
    width: 50%;
    margin: 0;
    top: 8vh;
    background-color: #929191fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    padding: 0;
    border-radius: 20px 0 0 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .bet-features {
    margin-top: 880px;
  }

  .burger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-links a {
    margin: 50px 0;
    opacity: 1;
  }

  .mobile-logo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("./images/Hedge_final_HEDGE\ WHITE.svg");
    background-size: cover;
    background-position: center;
    /* margin-bottom: 30px; */
  }

  .home-container {
    flex-direction: column;
    align-items: center;
    /* padding-top: 50px; */
  }

  .signup-section {
    /* padding-top: 50px !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 785px;
  }

  .signup-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .signup-text-container h1 {
    font-size: 30px;
    color: #fff;
  }

  .signup-text-container p {
    text-align: center;
  }

  .laptop-img-container img {
    width: 100%;
    margin-bottom: 75px;
  }

  .section-divider {
  }
  #mc_embed_signup_scroll {
    display: none !important;
  }

  .info-content-container {
    height: 50vh;
    margin-bottom: 0;
  }

  .features-container {
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .overview-container {
    flex-direction: column;
    padding: 0;
  }

  .spiral {
    display: none;
  }

  .overview-container .get-started-text {
    width: 100%;
  }

  .overview-container .get-started-text h3 {
    font-size: 36px;
  }

  .info-content-container h3 {
    margin: 0;
  }

  .features-container {
    flex-direction: column;
  }

  #subscribe {
    padding: 0 30px !important;
  }

  #subscribe #second-email {
    font-size: 25px !important;
  }
}

/* media query for iphone x */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .mobile-logo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("./images/Hedge_final_HEDGE\ WHITE.svg");
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    /* margin-bottom: 30px; */
  }

  .features-container {
    /* margin-bottom: 30px; */
    margin-top: 0px;
  }

  .nav-links {
    height: 70vh;
  }
}
